extends ../layout

block navigation
	+breadcrumb("admin")

block content
	.page-header
		a(href="/admin/cameras") Cameras
	.page-header
		a(href="/admin/berths") Berths
	//- if(authenticatedUser.role === "Administrator")
	.page-header
		a(href="/admin/users") Users
