extends ../layout

block navigation
	+breadcrumb('admin')

block content
	.page-header Users
	ul.camera-list
	.page-footer
		a.btn.btn-success(href="users/new") Create new

block scripts
	script(src="/javascripts/api.js")
	script(src="/javascripts/users-page.js")
