include mixins

doctype html
html
	head
		meta(charset='utf-8')
		title= title
		block stylesheets
		link(rel='stylesheet', href='/stylesheets/style.css')
		block scripts
	body
		.navigation
			block navigation
		.container
			.content
				block content

		+tracker()
