include mixins

doctype html
html
	head
		meta(charset='utf-8')
		title= title
		block stylesheets
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
		script(src="/javascripts/config.js")
		script(src="/javascripts/auth.js")
		script(src="/javascripts/api.js")
		script(src="/javascripts/boatcam-api.js")
		block scripts
	body
		.navigation
			block navigation
		.container
			.content
				block content

		+tracker()
