include mixins

doctype html
html
	head
		meta(charset='utf-8')
		meta(name="apple-mobile-web-app-capable" content="yes")
		title= title
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
		script(src="/javascripts/config.js")
		script(src="/javascripts/auth.js")
		script(src="/javascripts/boatcam-api.js")
		block stylesheets
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
		link(rel='stylesheet', href='/stylesheets/style.css')
	body.login-page
		form(action="/login" method="post")
			.page-header
				| BoatCam Login
			.field
				input#username(type="text" name="username" placeholder="Brugernavn" required autofocus)
			.field
				input#password(type="password" name="password" placeholder="Kodeord" required)
			.field
				label
				input.btn.btn-success(type="submit" onClick="javascript:login(event)" value="Log In")
			.field.message
		script.
			function login(e) {
				e.preventDefault();
				var username = document.getElementById("username").value;
				var password = document.getElementById("password").value;
				BoatCamApi.auth.login(username, password);
			}
		+tracker()
