extends ../layout

block navigation
	+breadcrumb("examples")

block content
	.page-header
		a(href="/examples/simple-example") Simple Example
	.page-header
		a(href="/examples/multiple-cameras-example") Multiple Cameras
	.page-header
		a(href="/examples/flowplayer-html5-example/fjellebroen-ost") Flowplayer HTML5
